.discount{
    /* //display: inline-block; */
    padding: 10px;
    height: auto;
    background-color:red;
    color:white;
    border-radius: 5px;
}
.container{
    border:1px solid gray;
    /* display:flex;
    flex-direction: row; */
}